{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block top %}
    <p align="right">
        {% if current_user.superuser or current_user.can_review_tasks %}
            <a href="{{ url_for('tasks.users_tasks') }}">Users tasks</a>
             {% if current_user.superuser %}
                <a href="{{ url_for('tasks.list_tasks') }}">List all tasks</a>
                <a href="{{ url_for('tasks.create') }}">Create Task</a>
                <a href="{{ url_for('admin.index') }}">Admin</a>
                <a href="{{ url_for('tasks.logout') }}">Logout, {{ current_user.username }} (Admin)</a>
            {% else %}
                <a href="{{ url_for('tasks.index') }}">Tasks</a>
                <a href="{{ url_for('tasks.logout') }}">Logout, {{ current_user.username }} (Reviewer)</a>
            {% endif %}
        {% else %}
            <a href="{{ url_for('tasks.index') }}">Tasks</a>
            <a href="{{ url_for('tasks.logout') }}">Logout, {{ current_user.username }}</a>
        {% endif %}
    </p>
{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}
{% endblock %}