{% extends 'task/base_top.html' %}

{% block title %}
    List Tasks
{% endblock %}

{% block content_title %}
    List Tasks
{% endblock %}

{% block content %}
    {% for task in page.items %}
        <p>
            <a href="{{ url_for('tasks.preview', id=task.id) }}">Taks_{{ task.id }}</a>
        </p>
    {% endfor %}
    {% if count_pages > 1 %}
        <p>
            <a href="{{ url_for('tasks.list_tasks', page=prev_page_index) }}">Back</a>
                {{ page_index }} | {{ count_pages }}
            <a href="{{ url_for('tasks.list_tasks', page=next_page_index) }}">Next</a>
        </p>
    {% endif %}
{% endblock %}