{% extends 'task/base_top.html' %}

{% block title %}
    Tasks
{% endblock %}

{% block content_title %}
    Task_{{ task.id }}
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}

    <form action="" method="post">
        {% if 'csrf_token' in form %}
            {{ form.csrf_token() }}
        {% endif %}

        {% if current_user.superuser %}
            <p>
                {{ form.lower_limit.label() }}
                {{ form.lower_limit() }}
                {% if form.lower_limit.errors %}
                    {% for error in form.lower_limit.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </p>
            <p>
                {{ form.upper_limit.label() }}
                {{ form.upper_limit() }}
                {% if form.upper_limit.errors %}
                    {% for error in form.upper_limit.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </p>

            <p>
                {{ form.users.label() }}
                {{ form.users() }}
            </p>
            <p>
                {{ form.update_submit() }}
                {{ form.delete_submit(formnovalidate=True) }}
                <input type="button" value="Back" onclick="history.back(-1);" />
            </p>
        {% else %}
            <p>
                {{ form.lower_limit.label() }}
                {{ form.lower_limit(readonly=true) }}
            </p>
            <p>
                {{ form.upper_limit.label() }}
                {{ form.upper_limit(readonly=true) }}
            </p>
            <p>
                <input type="button" value="Back" onclick="history.back(-1)" />
            </p>
        {% endif %}
    </form>
{% endblock %}
