{% extends 'base.html' %}

{% block title %}
    Tasks
{% endblock %}

{% block content_title %}
    Task_{{ task.id }}
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}

    <form action="" method="post">
        {{ form.csrf_token() }}

        {% if current_user.superuser %}
            <p>
                {{ form.lower_limit.label() }}
                {{ form.lower_limit() }}
                {% if form.lower_limit.errors %}
                {% for error in form.lower_limit.errors %}
                {{ error }}
                {% endfor %}
                {% endif %}
            </p>
            <p>
                {{ form.upper_limit.label() }}
                {{ form.upper_limit() }}
                {% if form.upper_limit.errors %}
                {% for error in form.upper_limit.errors %}
                {{ error }}
                {% endfor %}
                {% endif %}
            </p>

            <p>
                {{ form.users.label() }}
                {{ form.users() }}
            </p>
            <p>
                {{ form.update_submit() }}
                {{ form.delete_submit(formnovalidate=True) }}
                {{ form.back_submit(formnovalidate=True) }}
            </p>
        {% else %}
            <p>
                {{ form.lower_limit.label() }}
                {{ form.lower_limit(readonly=true) }}
            </p>
            <p>
                {{ form.upper_limit.label() }}
                {{ form.upper_limit(readonly=true) }}
            </p>
            <p>
                {{ form.back_submit(formnovalidate=True) }}
            </p>
        {% endif %}
    </form>
{% endblock %}
